.navbarSection{
    height: 4.7vh;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(255, 0, 0 ,1) 43%, rgba(227,108,255,1) 100%);
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0.5rem 0;
}

.logo{
    height: 1.8rem;
    width: 1.8rem;
}



.link{
    margin: 0 0.5rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1.1rem;
}

.link:hover{
    color: rgb(74, 73, 73);
    padding: 0.1rem;
}