/*menos de 640*/
@media (max-width: 640px) {
    .navbarSection{
        height: 3.5vh;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(255, 0, 0 ,1) 43%, rgba(227,108,255,1) 100%);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 0;
    }
    
    .logo{
        display: none;
    }

    .links{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .link{
        margin: 0 0.3rem;
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 0.6rem;
    }
}


/*de 640 a 768*/
@media (min-width: 640px) {
    .navbarResponsive{
        height: 4vh;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(255, 0, 0 ,1) 43%, rgba(227,108,255,1) 100%);
        color: white;
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 0.3rem 0;
    }
    
    .logo{
        display: none;
    }
    
    .link{
        margin: 0 0.3rem;
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 1rem;
    }
}


/*de 768 a 1200*/
@media (min-width: 768px) {
    .navbarSection{
        height: 4.2vh;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(255, 0, 0 ,1) 43%, rgba(227,108,255,1) 100%);
        color: white;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        padding: 0.3rem 0;
    }
    
    .logo{
        display: block;
        height: 1.6rem;
        width: 1.6rem;
        transition: all 1.5s;
    }
    
    .logo:hover{
        height: 1.7rem;
        width: 1.7rem;
        transform: rotate(360deg);
    }
    
    .link{
        margin: 0 0.5rem;
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 1rem;
    }
}

/*MAS DE 1200*/
@media (min-width: 1200px) {
    .navbarSection{
        height: 4.7vh;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(255, 0, 0 ,1) 43%, rgba(227,108,255,1) 100%);
        color: white;
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding: 0.5rem 0;
    }

    .logo{
        height: 2.2rem;
        width: 2.2rem;
        transition: all 1.5s;
    }

    .logo:hover{
        height: 2.3rem;
        width: 2.3rem;
        transform: rotate(360deg);
    }

    .link{
        margin: 0 0.5rem;
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 1.1rem;
    }

    .link:hover{
        color: rgb(74, 73, 73);
        padding: 0.1rem;
    }
}